# Created by .ignore support plugin (hsz.mobi)

.idea
/app/bootstrap.php.cache
app/app/cache/*
app/app/config/parameters.yml


!app/cache/.gitkeep
!app/logs/.gitkeep
app/app/logs
/app/phpunit.xml
/build/
app/vendor/
app/app/vendor/
app/app/bower_components/


/bin/
/composer.phar
composer.lock
app/license

#/app/web/

app/web/bundles/
#ignore icons


#ignore Initial Sonata bundle files
/app/src/Application


/app/web/images/
