{% extends 'weekly_workout/layout.html.twig' %}

{% block addworkout %}
    <div class="row">
        <div class="col-md-12">
            Here are your workouts:
        </div>
    </div>
{% endblock %}
