<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Weekly Workout Menu
                </a>
            </li>
            <li>
                <a href="{{ path('homepage') }}">Home</a> <br/>
            </li>
            <li>
                <a href="{{ path('workout_create') }}">Add New Workout</a> <br/>
            </li>
            <li>
                <a href="{{ path('workout_list') }}">View Workouts</a> <br/>
            </li>
            <li>
                <a href="#">HR Calculator</a> <br/>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
</div>